<ion-modal-view id="categaryModal">
    <ion-content>
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="newCategaryName" id="newCategoryAddField" placeholder="Add New Category"></input>
                </label>
                <button class="button button-small" ng-click="addNewCategary(newCategaryName)">Add</button>
            </div>
        </div>
        <div class="card">
            <ion-list>
                <ion-item style="color:black;" ng-click="onCategorySelect(categoryName)" ng-repeat="categoryName in categoryArr">
                    <span>{{categoryName}}</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>
