<ion-view view-title="Inventory" ng-controller="inventoryCtrl">
 <ion-content id="inventoryContentDiv">
  <div class="list">
   <label class="item item-input">
     <span class="input-label">Item Name :</span>
     <input type="text" ng-model="newProduct.itemName"></input>
   </label>
   <label class="item item-input">
     <span class="input-label">Product Unit :</span>
     <ion-radio ng-model="newProduct.itemUnit" ng-value="'kgs'">Kgs</ion-radio>
     <ion-radio ng-model="newProduct.itemUnit" ng-value="'litres'">Litres</ion-radio>
     <ion-radio ng-model="newProduct.itemUnit" ng-value="'pieces'">pieces</ion-radio>
   </label>
   <label class="item item-input">
     <span class="input-label">Selling Price :</span>
     <input type="number" ng-model="newProduct.itemSellingPrice">
   </label>
   <label class="item item-input">
     <span class="input-label">Tax (%):</span>
     <input type="number" ng-model="newProduct.itemTax">
   </label>
   <label class="item item-input">
     <span class="input-label">Items in-stock :</span>
     <input type="number" ng-model="newProduct.itemsInStock">
   </label>
   <label class="item item-input">
     <span class="input-label">Product Id :</span>
     <input type="text" ng-model="newProduct.itemId">
   </label>
   <label class="item item-input">
     <span class="input-label">Discount (%):</span>
     <input type="text" ng-model="newProduct.itemDiscount">
   </label>
   <label class="item item-input">
     <span class="input-label">Category :</span>
     <button class="button" ng-click="openCategoryModal()">Select Category</button>
   </label>
   <label class="item item-input">
     <span class="input-label">Image :</span>
     <button class="button" ng-click="openCamera()">Camera</button>
   </label>
   
   <label class="item item-input">
     <span class="input-label"></span>
     <button class="button" ng-click="openGallery()">Gallery</button>
   </label>
   <label class="item item-input">
     <span class="input-label">Actual Price :</span>
     <input type="number"  ng-model="newProduct.itemActualPrice">
   </label>
  </div>
  <button class="button button-block" ng-click="addNewProduct()">Add Item</button>
 </ion-content>
</ion-view>