<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

<ion-nav-buttons side="right">
         

<!--<ion-toggle style="border:0px;min-height:6vh;" ng-model="newProduct.favourite" toggle-class="toggle-calm"></ion-toggle>
 -->

 </ion-nav-buttons>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
         <button class="button button-clear button-positive" style="" ng-click="ShowPopUpPassword()">
  <i class="ion-android-done" style="font-size:30px;color:white;"> </i>
</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="MenuCtrl" width="{{menuWidth}}">
         <ion-header-bar class="bar-dark">
            <h4 class="title">Settings Dashboard</h4>
            
          </ion-header-bar>
        <ion-pane class="background-grey">
            <ion-content scroll=true has-bouncing="false" style=" background-image : url('img/redTexture.jpg');background-size: cover;">
              
               <div style="position:relative;top:5vmin">
                    <div>
                        <div ng-repeat="items in rightItems">
                            <div class="row" ng-if="$index%3==0">
                                <div style="position:relative;" class="col col-33 col-center">
                                    <a class="element" ng-if="rightItems[$index]!=undefined" ng-click="itemclick(rightItems[$index])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index].icon}}" style="font-size:7vmin"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index].name}} </div>
                                        
                                    </a>
                                </div>
                                <div style="position:relative;" class="col col-30 col-center">
                                    <a class="element"  ng-if="rightItems[$index+1]!=undefined" ng-click="itemclick(rightItems[$index+1])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index+1].icon}}" style="font-size:7vmin"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index+1].name}} </div>
                                        
                                    </a>
                                </div>
                                <div style="position:relative;" class="col col-30 col-center">
                                    <a class="element"  ng-if="rightItems[$index+2]!=undefined" ng-click="itemclick(rightItems[$index+2])" menu-close>
                                        <button style="box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);" class="button-circle" animate-ratio="fadeIn">
                                            <i class="{{rightItems[$index+2].icon}}" style="font-size:7vmin"></i>
                                        </button>
                                        <div style="text-shadow:3px 3px 4px rgba(0, 0, 0, 0.8);" class="icon_text">{{rightItems[$index+2].name}} </div>
                   
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
     
                </div>
            </ion-content>
        </ion-pane>
    </ion-side-menu>


<!--
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close ng-click="recallItems()">
          Recall
        </ion-item>
        <ion-item menu-close href="#/app/inventory">
          Inventory
        </ion-item>
		    <ion-item menu-close href="#/app/Settings">
         Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>-->

</ion-side-menus>
