<ion-view >
<ion-content ng-controller="paymentSettings">
<form id="payMentSetting">
<ion-list >

 <div class="item">

 Currency:<div id="currency"class="card">
 <ion-radio class="pySttg" ng-click="click()"ng-model="paymentSetting.currency">Inr (&#8377;)</ion-radio>
 <ion-radio class="pySttg" ng-click="click()" ng-model="paymentSetting.currency">USD ($):</ion-radio>
 <ion-radio class="pySttg" ng-click="click()"ng-model="paymentSetting.currency">Pound (&pound;):</ion-radio>
 <ion-radio class="pySttg" ng-click="click()"ng-model="paymentSetting.currency">Ringgit (RM):</ion-radio>
 </div>
 
 </div>
 <div class="item">

 Payment Option:<div class="card" id="payment">
 <ion-checkbox ng-click="click()" ng-model="paymentSetting.paymentOptions[0].PayTM" >PayTM</ion-checkbox>
 <ion-checkbox ng-click="click()"ng-model="paymentSetting.paymentOptions[0].Cash" >Cash</ion-checkbox>
 <ion-checkbox ng-click="click()"ng-model="paymentSetting.paymentOptions[0].Visa" >Visa</ion-checkbox>
 <ion-checkbox ng-model="paymentSetting.paymentOptions[0].Master" >Master</ion-checkbox>
 <ion-checkbox ng-model="paymentSetting.paymentOptions[0].Amex" >Amex</ion-checkbox>

 </div>
 </div>
 <div class="padding">
  <button type="submit" ng-click="savePaymentSettings()" class="button button-block button-dark" style="margin:auto;width:70%">Submit</button>
  </div>
 </ion-list>
 </form>
 </ion-content>
 </ion-view>