<ion-view view="">
<ion-content>
<ion-list>
<div class="item">

 Currency:<div class="card">
 <ion-radio  >Inr</ion-radio>
 <ion-radio >USD</ion-radio>
 <ion-radio >Pond</ion-radio>
 <ion-radio >Ringgit</ion-radio>
 </div>
 
 </div>
 <div class="item">

 Payment Option:<div class="card">
 <ion-checkbox >PayTM</ion-checkbox>
 <ion-checkbox >Cash</ion-checkbox>
 <ion-checkbox >Visa</ion-checkbox>
 <ion-checkbox >Master</ion-checkbox>
 <ion-checkbox>Amex</ion-checkbox>
 </div>
 
 </div>
</ion-list>
</ion-content>
</ion-view>