<ion-view view="Printer Settings">
    <ion-content ng-controller="printerSettings">
        <ion-list >
        <form id="prinrSettings">
            <label class="item item-input">
                <span class="input-label">Shop Name:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.shopName">
            </label>
            <label class="item item-input">
                <span class="input-label">Shop Address:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.shopAddress">
            </label>
            <label class="item item-input">
                <span class="input-label">TIN:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.tin">
            </label>
            <label class="item item-input">
                <span class="input-label">Telephone:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.tlpNmbr">
            </label>
            <label class="item item-input">
                <span class="input-label">Wifi Password:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.wifiPasswrd">
            </label>
            <label class="item item-input">
                <span class="input-label">Greeting:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.greeting">
            </label>
            <label class="item item-input">
                <span class="input-label">Notice:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.notice">
            </label>
            <label class="item item-input">
                <span class="input-label">Starting Bill Number:</span>
                <input type="text" class="printerSettingtext" ng-model="printrSettings.strtBillNmbr">
            </label>
            <label class="item item-input">
                <span class="input-label">Token Number:</span>
                <label class="toggle">
                    <input type="checkbox" ng-model="printrSettings.tokNum">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <div ng-show="printrSettings.tokNum">
                <label class="item item-input">
                    <span class="input-label">Starting:</span>
                    <input type="text" class="printerSettingtext" ng-model="printrSettings.tokStartNmbr">
                </label>
                <label class="item item-input">
                    <span class="input-label">Reset After:</span>
                    <input type="text" class="printerSettingtext" ng-model="printrSettings.tokResetAftr">
                </label>
            </div>
            <label class="item item-input">
                <span class="input-label">Copies:</span>
                <input type="number" pattern="[0-9]*" class="printerSettingtext" ng-model="printrSettings.copies" required>
            </label>
            </form>
          <div class="padding">
          <button type="submit" ng-click="savePrinterSettings()" class="button button-block button-dark" style="margin:auto;width:70%">Submit</button>
        </div>
        </ion-list>

        
    </ion-content>
</ion-view>