<ion-view hide-nav-bar='true' cache-view="false">
<ion-content style="text-align:center;" ng-controller="SalesReportCtrl" scroll=false>
 <div>
        <h2 style="text-align:center;"> Sales Report </h2>
    </div>
<label class="item item-input">
  <span class="input-label" style="font-style:italic;font-size: 3vh;font-weight: bold;">Start</span>
  <input type="date" ng-model="Dte.start">
</label>
<label class="item item-input">
  <span class="input-label" style="font-style:italic;font-size: 3vh;font-weight: bold;">End</span>
  <input type="date" ng-model="Dte.end">
</label>
<button ion-button ng-click=save()>Get Report</button>

<div ng-if="showreport==true">
<button ion-button ng-click=onPrintSalesReport()>Print Report</button>

<div class="card">
  <p><span class="salesReport" >Total Number of Bills:</span>{{salesReport.totalBills}}</p>
  <p><span class="salesReport" >Total Amount:</span>{{salesReport.totalPrice}}</p>
  <p><span class="salesReport" >Total Tax Amount:</span>{{salesReport.taxAmount}}</p>
  <p><span class="salesReport" >Total Amount After Tax:</span>{{salesReport.totalAmount}}</p>
</div>


</div>

</ion-content>
</ion-view>