<ion-view view-title="TaxSettings">
    <ion-content ng-controller="taxSetting">
        
            <form id="myTaxSettingForm" >
              <ion-list>
                <label class="item ">
                    <span class="input-label">Name:</span>
                    <input name="taxNme" id="taxNme" style="color:black" ng-model="txSetting.name" type="text" maxlength=25 required>
                    
                </label>
                <label class="item ">
                    <span class="input-label">Tax Rate:</span>
                    <input type="tel" id="taxRate" style="color:black" step="any" name="taxRate" ng-model="txSetting.taxRate" required maxlength=4>
                 </label>
                <div class="padding">
             <button ng-click="addMore()" class="button button-block button-dark" style="margin:auto;width:70%">add</button>

            <button type="submit"  ng-click="saveTaxSetting()" class="button button-block button-dark" style="margin:auto;width:70%">Submit</button>
        </div>
        </ion-list>
        
        </form>

    </ion-content>
</ion-view>