#product-billing {
    width: 30%;
    height: 100%;
    border-top: thin solid black;
    border-bottom: thin solid black;
    border-right: thin solid black;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#productsView {
	width:70%;
}

#product{
    width: 100%;
    height: 100%;
    padding: 0vh;
    display: flex;
    display: -webkit-flex;
}
#product-display {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    webkit-flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border-style: solid;
    border-left: thin solid black;
    border-top: thin solid black;
    border-bottom: thin solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 90%;
}
#product-billing-head {
	height:5%;
	margin:0.5vh;
	width:100%;
}

#product-categary {
    border: 1px solid black;
    width: 100%;
    height: 10%;
    display: inline-flex;
    padding: auto;
}

#product-categary-scroll {
    height:100%;
    width: 100%;
    margin:0vh;
    overflow: scroll;
}

#product-categary-next, #product-categary-previous{
	width:6%;
	height:auto;
	background: black;
}
#button-next, #button-previous{
	width:100%;
	height:100%;
	background:black;
	color:white;
}

.product-categary-button {
    background: black;
    color: white;
    width: 20%;
    line-height: 8vh!important;
    border-radius: 0.4;
}

.bar-light .button {
    padding: 3vh;
    width: 20%;
    background-color: black;
    font-weight: bold;
    color: white;
    font-size: small;
}

/*
.bar-footer {
    position: fixed;
    padding: 0px;
    marigin: auto;
    height: 10%;
    overflow: scroll;
    bottom: 0;
    overflow-x: auto;
    overflow-y: false;
}
*/
#product-display-row {
    padding: auto;
    width: 100%;
    height: 98%;
}
#product-display-col1 {
    font-size-adjust: auto;
    font-size: 1.5vh;
    position: relative;
    border: solid;
    width: 32%;
    height: 18%;
    background: black;
    color: white;
    margin:0.5vh;
}
#product-display-row>#product-image {
    float: right;
    height: 70%
}
#quantityBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid #111;
    width: 100%;
    height: 100%;
}
#product-billing-col1 {
    border: solid;
    width: 100%;
    height: 100%;
    color: white;
}
#product-price {
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: center;
    position: absolute;
    border: black;
    background: black;
    height: 20%;
    width: auto;
    opacity: 0.7;
}
#product-stock {
    right: 0;
    top: 0vh;
    position: absolute;
    border: black;
    background: #f54949;
    height: 20%;
    width: 50%;
    opacity: 0.7;
}
#product-image {
    position: relative;
    margin: 0vh;
    padding: auto;
    float: right;
    width: 50%;
    bottom: 0px;
    border: solid #111;
    height: 100%;
}
#product-billing-table {
    table-layout: fixed;
    border: 1px solid black;
    width: 100%;
    border-collapse: initial;
}
.product-billing-tableScroll {
    overflow-y: auto;
    height: 93%;
}
tbody {
    overflow-y: auto;
    /* Trigger vertical scroll    */
    
    overflow-x: hidden;
}
th {
    background: black;
    color: White;
}
td {
    background: rgba(170, 170, 170, 0.2);
}
tr:hover {
    background: rgba(170, 170, 170, 0.66);
}
tr,
td,
th {
    border: 1px solid black;
    height: 5vh;
}
tr.selected td {
    background: #ccc!important;
}
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.sam-cust-bar .button.button-block {
    margin-top: 0;
    margin-bottom: 0;
}
.sam-input-item {
    border: none;
    padding: 0;
}
.inputview {
    background-color:#ddd;
    padding: 15px;
    margin: 0;
    font-size: 14px;
    color: #500200;
    border: 1px solid #cecece;
    display: block
}

#model-view {
    top: 0;
    right: 20%;
    bottom: 20%;
    left: 30%;
    min-height: 300px;
    width: 75%;
    height: 75%;
}

#holdModal {
    width: 90%;
    height: 85%;
    left: 5%;
    top: 5%;
}

#quantity-close {
    color: black;
    
}

#recallModal {
	width:100%;
	height:90%;
	top:0vh;
	left:0vh;

}

#recallModal button .icon{
  
}

.recallTabs {
  	width:85%;
	height:80%;
	left:6%;
	top:10%;
} 

#quantity-close{

color:black;
	
}

 .modal-backdrop-bg{
	background-color:rgba(204, 204, 204, 0.01);
} 
 .modal-open .modal-backdrop {

    
    pointer-events: none;
}

#paymentModel>.modal{
   top:20%;
   left:30%;


}

#productContentDiv, #categoryContentDiv {
	width:90%;
	margin:auto;
}

input.printerSettingtext{
	border: 0.1vh solid #b2b2b2;
	width:200px;
}

#currency{
	width:55%;
}
#payment{
    width:55%;
}
.pySttg.item-radio .item-content{
    margin-left:5vh;
}
.pySttg.item-radio .ion-checkmark{
	top:0;
	left:0;
	position:absolute;
	width:10%;
	border-radius:60%;
	line-height:1vh;
	color:black;


#categaryModal {
	width:50%;
	left:40%;
}

#errorMessage{
	
}
.red {
  border-color: red;
  color:red;
}


input.ng-invalid {
    background-color: pink;
}

input.ng-invalid.ng-dirty {
    background-color: red;
    color:red;
  }